<main class="wrap">
    <section class="error-cont">
        <div class="error-cont__digit">500</div>
        <span>УЖЕ РЕШАЮ</span><br>
        <a href="/">ВЕРНУТЬСЯ К ЧАТАМ</a>
    </section>
</main>
