<main class="wrap">
    <form class="form-cont">
        <div class="avatar">
            <a href="/">сменить</a>            
        </div>
        <div class="form-cont__field">
            <input type="email" id="email" name="email" value="nepetya@ya.ru">
            <label for="email">почта</label>
        </div>
        <div class="form-cont__field">
            <input type="text" id="login" name="login" value="petefi">
            <label for="login">логин</label>
        </div>
        <div class="form-cont__field">
            <input type="text" id="first_name" name="first_name" value="петя">
            <label for="first_name">имя</label>
        </div>
        <div class="form-cont__field">
            <input type="text" id="second_name" name="second_name" value="петин">
            <label for="second_name">фамилия</label>
        </div>
        <div class="form-cont__field">
            <input type="text" id="display_name" name="display_name" value="nepetya">
            <label for="display_name">псевдоним</label>
        </div>
        <div class="form-cont__field">
            <input type="tel" id="phone" name="phone" value="+888 007 6723">
            <label for="phone">телефон</label>
        </div>
        <button class="btn__main fs25px">Изменить личность</button>
        <a href="/profile">Назад к профилю</a>
    </form>
</main>
