<main class="wrap">
    <section class="profile-cont">
        <div class="avatar">
            <a href="/">сменить</a>
        </div>
        <div class="profile-cont__field">
            <span>почта</span>
            <span>nepetya@ya.ru</span>
        </div>
        <div class="profile-cont__field">
            <span>логин</span>
            <span>petefi</span>
        </div>
        <div class="profile-cont__field">
            <span>имя</span>
            <span>петя</span>
        </div>
        <div class="profile-cont__field">
            <span>фамилия</span>
            <span>петин</span>
        </div>
        <div class="profile-cont__field">
            <span>псевдоним</span>
            <span>nepetya</span>
        </div>
        <div class="profile-cont__field">
            <span>телефон</span>
            <span>+888 007 6723</span>
        </div>
        <a href="/change-profile">Изменить личность</a>
        <a href="/change-password">Изменить пароль</a>
        <a href="/">выйти</a>
    </section>
</main>
