<main class="wrap">
    <form class="form-cont">
        <h2>Заходи</h2>
        <div class="form-cont__field">
            <input type="text" id="login" name="login" required>
            <label for="login">логин</label>
        </div>
        <div class="form-cont__field">
            <input type="password" id="password" name="password" required>
            <label for="password">пароль</label>
        </div>
        <button class="btn__main fs35px">Войти</button>
        <a href="/registration">Впервые?</a>
    </form>
</main>
