<main class="wrap">
    <form class="form-cont">
        <div class="avatar"></div>
        <div class="form-cont__field">
            <input type="password" id="oldPassword" name="oldPassword">
            <label for="oldPassword">старый пароль</label>
        </div>
        <div class="form-cont__field">
            <input type="password" id="newPassword" name="newPassword">
            <label for="newPassword">новый пароль</label>
        </div>
        <div class="form-cont__field">
            <input type="password" id="newPassword_repeat" name="newPassword_repeat">
            <label for="newPassword_repeat">повтор пароля</label>
        </div>
        <button class="btn__main fs25px">Изменить пароль</button>
        <a href="/profile">Назад к профилю</a>
    </form>
</main>