<main class="chats-flex">    
    <section class="chats-column">
        <div class="chats-column__profile">
            <div class="avatar">
                <a href="/profile"></a>
            </div>
            <div class="search">
                <label for="search"></label>
                <input type="search" id="search" name="search" placeholder="найти">
            </div>
        </div>
        <ul class="chats-column__chats">
            <li>
                <div class="ava-chat">
                </div>
                <div class="short-info">
                    <span>спамер</span>
                    <span>js js js js js js js js</span>
                </div>
                <div class="about">
                </div>
            </li>
            <li>
                <div class="ava-chat">
                </div>
                <div class="short-info">
                    <span>масяня</span>
                    <span>ты еще живой там?</span>
                </div>
                <div class="about">
                </div>
            </li>
            <li>
                <div class="ava-chat">
                </div>
                <div class="short-info">
                    <span>кикимора</span>
                    <span>я расскажу тебе сказку...</span>
                </div>
                <div class="about">
                    <span>+2</span>
                </div>
            </li>
        </ul>
    </section>
    <section class="chat-cont">
        <div>
            <h1>твой ход</h1><br>
            <h4>выбирай чат</h4>
        </div>
    </section>
</main>