<main class="wrap">
    <div class="wrap__main-page"><ul>        
        <li><a id="llllllll" href="/authorization">authorization</a></li>
        <li><a href="/registration">registration</a></li>
        <li><a href="/list-of-chats">list-of-chats</a></li>
        <li><a href="/profile">profile</a></li>
        <li><a href="/change-profile">change-profile</a></li>
        <li><a href="/change-password">change-password</a></li>
        <li><a href="/error-500">error-500</a></li>
        <li><a href="/error-404">error-404</a></li>
    </ul></div>
</main>