<main class="wrap">
    <form class="form-cont">
        <h3>Создание личности</h3>
        <div class="form-cont__field">
            <input type="email" id="email" name="email" required>
            <label for="login">почта</label>
        </div>
        <div class="form-cont__field">
            <input type="text" id="login" name="login" required>
            <label for="login">логин</label>
        </div>
        <div class="form-cont__field">
            <input type="text" id="first_name" name="first_name" required>
            <label for="first_name">имя</label>
        </div>
        <div class="form-cont__field">
            <input type="text" id="second_name" name="second_name">
            <label for="second_name">фамилия</label>
        </div>
        <div class="form-cont__field">
            <input type="tel" id="phone" name="phone">
            <label for="phone">телефон</label>
        </div>
        <div class="form-cont__field">
            <input type="password" id="password" name="password" required>
            <label for="password">пароль</label>
        </div>
        <div class="form-cont__field">
            <input type="password" id="password_repeat" name="password_repeat" required>
            <label for="password_repeat">повтор пароля</label>
        </div>
        <button class="btn__main fs35px">Создать</button>
        <a href="/authorization">Войти</a>
    </form>
</main>