@import "./styles/normalize8.0.1.scss";
@import "./styles/mixins.scss";
@include font-face("Furore", "../static/fonts/Furore-webfont");
@include font-face("PTMonoBold", "../static/fonts/PTM75F_W");
@include font-face("PTMonoRegular", "../static/fonts/PTM55F_W");

// БАЗОВЫЙ ЦВЕТ --------
// каждая компонента отдельно R, G, B
$base-color-r: 56;
$base-color-g: 6;
$base-color-b: 80;

// используемые цвета в проекте ---------
$col-light: rgb(238 227 179);
$col-shadow: rgb($base-color-r, $base-color-g, $base-color-b);
$col-shadow10: rgba($base-color-r, $base-color-g, $base-color-b, 10%);
$col-shadow20: rgba($base-color-r, $base-color-g, $base-color-b, 20%);
$col-shadow30: rgba($base-color-r, $base-color-g, $base-color-b, 30%);
$col-shadow50: rgba($base-color-r, $base-color-g, $base-color-b, 50%);
$col-shadow80: rgba($base-color-r, $base-color-g, $base-color-b, 80%);
$col-shadow90: rgba($base-color-r, $base-color-g, $base-color-b, 90%);
$col-shadow-dark: rgb(51 3 73);
$col-green: green;
$col-error-red: rgb(145 0 36);
$col-modal-bg: rgba(0 0 0 / 10%);
$size-ava: 100px;

body {
    margin: 0;
    padding: 10px;
    font-family: Furore, Arial, Helvetica, sans-serif;
    background-color: $col-shadow;
    color: $col-light;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: auto;
}

header {
    a {
        float: left;
        width: 60px;
        line-height: 25px;
        text-align: center;
        color: $col-light;
        border: 1px solid $col-light;
        font-size: 26px;
    }

    h2 {
        padding-left: 70px;
    }
}

#app {
    height: 85vh;
    background-color: $col-light;
    color: $col-shadow;
}

input {
    cursor: text;
    font-family: PTMonoBold, sans-serif;
    color: $col-shadow-dark;
    width: 16em;
    border: 1px solid $col-shadow;
    border-radius: 2px;

    &:focus {
        border: 2px solid $col-shadow;
        border-radius: 3px;
        outline: 0;
    }

    // стили placeholder добавлены для экспериментов с дизайном
    &::placeholder {
        color: $col-shadow90;
        font-size: 14px;
    }

    &.place-red::placeholder {
        font-family: Furore, sans-serif;
        color: $col-error-red;
        font-size: 11px;
    }

    &:focus::placeholder {
        color: transparent;
    }
}

body a,
label,
button {
    cursor: crosshair;
}

body a {
    text-decoration: none;

    &:hover {
        font-weight: bold;
    }
}

.wrap {
    display: flex;
    height: 100%;
}

.wrap > .wrap__main-page {
    margin: auto;
}

.error-cont {
    height: 200px;
    margin: auto;
    text-align: center;

    .error-cont__digit {
        padding: 0 10px 10px;

        @include bg-repeat(-45deg, transparent, $col-shadow80, 5, 5);
        @include text-shadow(white);

        font-size: 120px;
    }

    span {
        font-size: 35px;
        font-weight: bold;
    }
}

.form-cont {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    &__field {
        display: flex;
        flex-direction: column;

        label {
            order: 0;
        }

        input {
            order: 1;

            &:hover + label,
            &:focus + label {
                font-weight: bold;
            }
        }
    }

    button.btn__main {
        font-family: inherit;
        &.fs35px { font-size: 35px; }
        &.fs25px { font-size: 25px; }

        color: $col-shadow;

        @include bg-repeat(-45deg, transparent, $col-shadow80, 3, 3);
        @include text-shadow(white);

        font-weight: bold;
        margin-top: 10px;
        padding: 4px 10px 0;
        border: none;
        border-radius: 3px;

        &:hover {
            color: $col-shadow-dark;

            @include bg-repeat(-45deg, transparent, $col-shadow80, 7, 7);
        }
    }
}

.profile-cont {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__field {
        display: flex;
        flex-direction: column;

        & > span:last-child {
            box-sizing: border-box;
            width: 220px;
            border: none;
            border-top: 2px solid $col-green;
            margin: 3px 0 5px;
            font-weight: bold;
        }
    }
}

body .avatar {
    width: $size-ava;
    height: $size-ava;
    margin-bottom: 20px;
    background: center no-repeat url("../static/img/ava.png");
    line-height: $size-ava;
    text-align: center;
    border: 1px solid $col-shadow50;

    & > a {
        visibility: hidden;
        position: relative;
        display: block;
        width: calc($size-ava - 2px);
        height: calc($size-ava - 2px);
        color: $col-shadow;

        @include text-shadow($col-light);
    }

    &:hover > a {
        visibility: visible;
        cursor: crosshair;

        @include bg-repeat(-45deg, transparent, $col-shadow30, 5, 3.75);
    }

    .modal-bg-avatar {
        visibility: visible;
        border: 150vh solid rgba(40 40 80 / 0%);
        margin-left: calc(-150vh + 1px);
        margin-top: calc(-150vh + 1px);
        background-clip: padding-box;

        @include bg-repeat(-45deg, $col-shadow30, $col-shadow30, 5, 3.75);
    }

    &:hover > .modal-bg-avatar {
        @include bg-repeat(-45deg, $col-shadow30, $col-shadow30, 5, 3.75);
    }
}

.chats-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    .chats-column {
        position: relative;
        display: flex;
        flex-direction: column;
        border-right: 2px solid $col-shadow;
        padding-right: 0;

        .chats-column__profile {
            display: flex;
            height: 70px;
            flex-direction: row;
            border-bottom: 2px solid $col-shadow;

            .avatar {
                width: 70px;
                height: 70px;
                background-size: 70px;

                & > a {
                    width: 70px;
                    height: 70px;
                }
            }

            #search-chats {
                background: center no-repeat url("../static/img/search.png");
                font-family: Furore, sans-serif;
                background-position-x: 28px;
                height: 70px;
                background-color: transparent;
                cursor: crosshair;
                border: none;

                &::placeholder {
                    text-align: center;
                }

                &:hover::placeholder {
                    font-weight: bold;
                }

                &:focus {
                    background: none;
                }
            }

            .buttons {
                display: flex;
                width: 70px;

                & .buttons__elem {
                    margin: auto;
                    color: $col-shadow;
                    width: 29px;
                    height: 29px;
                    font-size: 20px;
                    border: 2px solid $col-shadow;
                    border-radius: 2px;
                    font-weight: bold;

                    &:hover {
                        border-radius: 3px;
                    }

                    &:active {
                        font-weight: normal;
                        background-color: $col-light;
                    }
                }
            }
        }

        .chats-column__chats {
            // возможно font-family: "PTMonoBold", sans-serif;
            padding: 0;
            margin: 0;
            overflow-y: auto;

            // width: 70px;
            // overflow-x: hidden;

            @include bg-repeat(-45deg, transparent, $col-shadow10, 10, 10);

            ul {
                display: flex;
                flex-direction: column;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            li {
                display: flex;
                flex-direction: row;
                width: 98%;
                height: 60px;
                margin: 0 auto;
                border-bottom: 1px solid $col-shadow;
                font-size: 12px;

                .ava-chat {
                    width: 50px;
                    height: 50px;
                    margin: 4px;
                    background: center no-repeat url("../static/img/user1.png");
                    border: 1px solid $col-shadow;
                    background-color: $col-light;
                }

                .about {
                    padding: 1px 1px 0 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .delete-chat {
                        width: fit-content;
                        margin-top: 5px;
                        align-self: flex-end;
                        font-size: 10px;
                    }

                    .delete-user,
                    .add-user {
                        width: 45%;
                    }
                }

                .short-info {
                    display: flex;
                    flex: 1;
                    flex-direction: column;

                    & > span:first-child {
                        font-size: 15px;
                    }

                    & > span:nth-child(2) {
                        font-size: 12px;
                        margin: auto 0;
                        display: inline-block;
                        max-width: 250px;
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    & > span:nth-child(3) {
                        font-size: 12px;
                        display: inline-block;
                        max-width: 250px;
                        overflow-x: auto;
                        white-space: nowrap;
                        margin-top: auto;
                    }
                }

                &:hover {
                    background-color: $col-light;
                    cursor: crosshair;

                    .short-info > span:first-child,
                    .short-info > span:nth-child(3) {
                        font-weight: bold;
                    }
                }

                &.active > .ava-chat {
                    outline: 2px solid $col-shadow80;
                }
            }
        }
    }

    .chat-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 85vh;

        .stub-chat {
            margin: auto;
            text-align: center;
        }

        .this-chat {
            display: flex;
            flex-direction: column;
            text-align: right;
            height: calc(85vh - 58px);
            width: 100%;
            overflow-y: auto;
            overflow-x: hidden;

            // word-break: break-all;
            border-top: 3px solid $col-light;

            .msg {
                margin: 0 10px 5px;
                border-bottom: 1px solid $col-shadow30;
            }

            .msg-time {
                margin: 0 10px 5px;
                font-size: 10px;
                align-self: flex-start;
            }

            // этот класс нужно доработать (выравнивание по разным сторонам)
            .left {
                display: block;
                align-self: flex-end;
            }
        }

        h1,
        h4 {
            margin: 0;
        }

        .write-message-cont {
            display: flex;
            flex-direction: row;
            padding: 4px;
            height: 58px;

            & > #message {
                resize: none;
                width: 100%;
                border: 1px solid $col-shadow80;
                color: $col-shadow-dark;
                overflow-y: inherit;
                font-size: 14px;
                margin-right: 4px;
                background-color: transparent;
                border-radius: 2px;

                &:hover {
                    border: 2px solid $col-shadow80;
                }
            }

            & > button {
                font-family: inherit;
                color: $col-shadow;

                @include bg-repeat(-45deg, transparent, $col-shadow50, 5, 5);
                @include text-shadow(white);

                padding: 4px 10px 0;
                font-weight: bold;
                border: none;
                border-radius: 3px;

                &:hover {
                    color: $col-shadow-dark;

                    @include bg-repeat(-45deg, transparent, $col-shadow80, 7, 7);
                }
            }
        }
    }
}

// рабочие классы для JS -------------

.hidden {
    display: none !important;
}

.hidden-vis {
    visibility: hidden !important;
}

.wrap-modal {
    position: absolute;
    width: calc(100%);
    height: 85vh;
    background-color: $col-modal-bg;
}

.modal {
    position: absolute;
    z-index: 1;
    background: $col-light;
    border: 5px solid $col-shadow-dark;
}

.modal-chats {
    width: 70%;
    height: calc($size-ava * 2);
    padding: 10px;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    overflow-y: auto;
}

.modal-avatar {
    width: calc($size-ava * 3.3);
    height: calc($size-ava * 2);
    margin-top: calc($size-ava + 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;

    & > .modal-avatar__submitImg {
        margin-top: 15px;
        height: 3em;
    }
}

// -----------------------------------

// WebKit
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

  ::-webkit-scrollbar-thumb {
    background-color: $col-shadow90;
}

// Firefox
* {
    scrollbar-color: $col-shadow90 transparent;
    scrollbar-width: thin;
}

* ::-webkit-scrollbar-track {
    background-color: transparent;
}
