@import "./styles/normalize8.0.1.css";
@import "./styles/mixins.scss";

@include font-face("Furore", "../static/fonts/Furore-webfont");
@include font-face("PTMonoBold", "../static/fonts/PTM75F_W");
@include font-face("PTMonoRegular", "../static/fonts/PTM55F_W");

$colLight: rgb(238, 227, 179);
$colShadow: rgb(56, 6, 80);
$colShadow50: rgba(56, 6, 80, 0.5);
$colShadow80: rgba(56, 6, 80, 0.8);
$colShadow90: rgba(56, 6, 80, 0.9);
$colShadowDark: rgb(51, 3, 73);
$sizeAva: 100px;


body {
    margin: 0;
    padding: 10px;
    font-family: "Furore", Arial, Helvetica, sans-serif;
    background-color: $colShadow;
    color: $colLight;
}

header {
    a {
        float: left;
        width: 60px;
        line-height: 25px;
        text-align: center;
        color: $colLight;
        border: 1px solid $colLight;    
        font-size: 26px;
    }
    h2 {
        padding-left: 70px;
    }
}
#app {
    height: 85vh;
    background-color: $colLight;
    color: $colShadow;
}
input {
    cursor: text;    
    font-family: "Furore", sans-serif;
    border: 1px solid $colShadow;
    border-radius: 2px;
    &:focus {                
        border: 2px solid $colShadow;
        border-radius: 3px;
        outline: 0;
    }
    // стили placeholder добавлены для экспериментов с дизайном
    &::placeholder {
        color: $colShadow90;
        font-size: 15px;
    }
    &:focus::placeholder{
        color: transparent;
    }
}  
label, button, a { 
    cursor: crosshair; 
}
a {
    text-decoration: none;
    &:hover {
        font-weight: bold;
    }
}

.wrap {
    display: flex;
    height: 100%;
}
.wrap > .wrap__main-page {
    margin: auto;
}
.error-cont {
    height: 200px;
    margin: auto;
    text-align: center;
    .error-cont__digit {
        padding: 0 10px 10px;
        @include bg-repeat(-45deg, transparent, $colShadow80, 5);
        @include text-shadow(white);
        font-size: 120px;
    }
    span {
        font-size: 35px;
        font-weight: bold;
    }
}

.form-cont {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 25px;
    }
    &__field {
        display: flex;
        flex-direction: column;
    
        label {
            order: 0;
        }
        input {
            order: 1;
            &:hover + label, &:focus + label {
                font-weight: bold;
            }      
        }
    }
    button.btn__main {
        font-family: inherit;        
        &.fs35px { font-size: 35px; }
        &.fs25px { font-size: 25px; }
        color: $colShadow;
        @include bg-repeat(-45deg, transparent, $colShadow80, 3);
        @include text-shadow(white);
        font-weight: bold;
        margin-top: 10px;
        padding: 4px 10px 0;
        border: none;
        border-radius: 3px;
        &:hover {
            color: $colShadowDark;
            @include bg-repeat(-45deg, transparent, $colShadow80, 3.4);
        }
    }
}

.profile-cont {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__field {
        display: flex;
        flex-direction: column;

        & > span:last-child {
            box-sizing: border-box;
            width: 220px;
            border: none;
            border-top: 2px solid green;
            margin: 3px 0 5px;
            font-weight: bold;
        }
    }
}

.avatar {
    width: $sizeAva;
    height: $sizeAva;
    margin-bottom: 20px;
    background: center no-repeat url("../static/img/ava.png");
    line-height: $sizeAva;
    text-align: center;
    & > a {
        visibility: hidden;
        position: absolute;
        display: block;
        width: $sizeAva;
        height: $sizeAva;            
        color: $colShadow;
        @include text-shadow($colLight);
        @include bg-repeat(-45deg, transparent, $colShadow50, 9);    
    }    
    &:hover > a {
        visibility: visible;
        cursor: crosshair;
    }
}

.chats-flex {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    .chats-column {
        display: flex;
        flex-direction: column;
        border-right: 2px solid $colShadow;
        .chats-column__profile {
            display: flex;
            height: 70px;
            flex-direction: row;
            border-bottom: 2px solid $colShadow;
            .avatar {
                width: 70px;
                height: 70px;
                background-size: 70px;
                & > a {
                    width: 70px;
                    height: 70px;
                }
            }
            input {
                background: center no-repeat url("../static/img/search.png");
                background-position-x: 28px;
                height: 70px;
                background-color: transparent;
                cursor: crosshair;
                border: none;
                &::placeholder {
                    text-align: center;
                }
                &:hover::placeholder {
                    font-weight: bold;
                }
                &:focus {
                    background: none;
                }                
            }
        }
        .chats-column__chats {
            // font-family: "PTMonoRegular", sans-serif;
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            margin: 5px 0 5px 5px;            

            li {                
                display: flex;
                flex-direction: row;
                width: 100%;
                border-bottom: 1px solid $colShadow;
                .ava-chat {
                    width: 50px;
                    height: 50px;
                    margin: 3px 3px 3px 0;                
                    background: center no-repeat url("../static/img/user1.png");
                    border: 1px solid $colShadow;
                }
                .short-info {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    & span:first-child:hover {
                        font-weight: bold;
                    }
                    & span:last-child {
                        font-size: 12px;
                    }
                }
                .about {
                    padding: 1px 1px 0 0;
                    span {
                        display: inline-block;
                        border: 1px solid $colShadow;
                    }
                }
            }
        }
    }
    .chat-cont {
        width: 100%;
        display: flex;
        div {
            margin: auto;
            text-align: center;
        }
        h1, h4 {
            margin: 0;
        }
    }
}
